
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Candy Crush</title>
        <link rel="stylesheet" href="./style.css">
        <script type="module" src="./script.js"></script>
    </head>

    <body>
        <div class="game-container">
            <div class="header">
                <div class="score-timer-container">
                    <div class="score-box">
                        <span id="score">0</span>
                        <p>Score</p>
                    </div>
                    <div class="timer-box">
                        <span id="timer">30s</span>
                        <p>Time</p>
                    </div>
                </div>
            </div>
            <img src="assets/Logo.png" id="logo">
        <div id="board"></div>
        <button class="play-button">Play!</button>
        </div>
    </body>
</html>