<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Scratch Reveal</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="container">
        <button class="close-btn" onclick="closeAd()">×</button>
        <img id="bottomImg" alt="Bottom Image">
        <canvas id="topCanvas"></canvas>
        <img id="Logo" src="./assets/Logo.png">
        <img id="Overlay" src="./assets/Overlay.png">
    </div>
    <script src="./script.js"></script>
</body>
</html>
