<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Game</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="game-container">
        <div class="header">
            <img src="./assets/logo1.png" alt="Logo" class="header-logo">
            <div class="header-info">
                <div class="score-box">
                    <span class="label">Score</span>
                    <div class="score-value" id="score">0</div>
                </div>
                <div class="time-box">
                    <span class="label">Time</span>
                    <div class="time-value"><span id="time">30</span>s</div>
                </div>
            </div>
        </div>
        
            <div class="start-sec">
                <img src="./assets/overlay1.png" alt="" srcset="">
                <button id="play-button">Play</button>
            </div>
        <div class="shelf">
           <img src="./assets/shelf.png" alt="">
           <div class="row1">
            <img src="./assets/item1.png" class="items">
            <img src="./assets/item2.png" class="items">
            <img src="./assets/item3.png" class="items">
           </div>
           <div class="row2">
            <img src="./assets/item4.png" class="items1">
            <img src="./assets/item5.png" class="items1">
            <img src="./assets/item6.png" class="items1">
           </div>
           <div class="row3">
            <img src="./assets/item7.png" class="items2">
            <img src="./assets/item8.png" class="items2">
            <img src="./assets/item2.png" class="items2">
           </div>
           <div class="row4">
            <img src="./assets/item4.png" class="items3" >
            <img src="./assets/item1.png" class="items3" >
            <img src="./assets/item7.png" class="items3" >
           </div>
        </div>
       <img src="./assets/cart.png" id="cart">
    </div>
    <script src="./script.js"></script>
</body>
</html>
