<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fireworks Mini-Game</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div id="canvasContainer">
    <button class="close-btn" onclick="closeAd()">×</button>
    <img id="Logo" src="./assets/Logo.png">
    <canvas id="gameCanvas"></canvas>
    <img id="Overlay" src="./assets/Overlay.png">
  </div>

  <script src="./script.js"></script> 
</body>
</html>
