<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interstitial Ad</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="interstitialAd" class="interstitial-ad">
        <div class="ad-content">
            <button class="close-btn" onclick="closeAd()">×</button>
            <img src="./assets/Logo.png" id="Logo" class="responsive-image">
            <video src="./assets/Background_Video.mp4"autoplay muted class="responsive-video"></video>
            <img src="./assets/First Image.png" id="second-media" class="responsive-image">
            <img src="./assets/Overlay.png" id="Overlay" class="responsive-image">
        </div>
    </div>

    <script src="./script.js"></script>
</body>
</html>
