<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volvo XC90 Interactive Ad</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="ad-container">
        <div class="background">
            <div class="left-image"></div>
            <div class="right-image"></div>
        </div>
        <img src="./assets/logo.png" class="logo" alt="">
        <img src="./assets/overlay1.png" class="overlay1" srcset="">
        <img src="./assets/overlay2.png" class="overlay2" srcset="">
            <div class="slider">
                <div class="handle">
                    <span class="arrow left-arrow"></span>
                    <span class="arrow right-arrow"></span>
                </div>
            </div>
            <button class="know-more">KNOW MORE</button>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>