<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="ad.size" content="width=360, height=640">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title>3D Cube</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="interstitialAd" class="interstitial-ad">
        <div class="ad-content">
            <button class="close-btn" onclick="closeAd()">×</button>
            <img src="./assets/Logo.png" id="Logo" class="responsive">
            <div class="cube">
                <div class="face front"><img src="./assets/Front Image.png"  class="responsive"></div>
                <div class="face right"><img src="./assets/Right Image.png" id="right" class="responsive"  ></div>
                <div class="face back"><img src="./assets/Rear Image.png"   id="back" class="responsive"></div>
                <div class="face left"><img src="./assets/Left Image.png"   id="left" class="responsive"></div>
               
            </div>
            <img src="./assets/Overlay.png" id="Overlay" class="responsive">
            
        </div>
    </div>
      <script type="module" src="./script.js"></script>
</body>
</html>
