<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coin Drop Game</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
</head>
<body>
  <div class="game-container">
    <div class="header">
      <img src="./assets/Logo.png" id ="Logo" alt="Logo">
      <button class="earn-now">EARN NOW!</button>
    </div>
    <div class="game">
      <img src="./assets/Logo.png" class="logo" id="Logo" alt="">
    <button class="submit">SUBMIT</button>
      <div class="stand">
        <img src="./assets/Stand.png" alt="Stand">
        <!-- Coins positioned inside the stand -->
        <div class="coins"></div>
        <!-- Line and circle -->
        <div class="line-container">
          <div class="horizontal-line"></div>
          <div class="circle"></div>
        </div>
        <i class="fa fa-hand-o-left" style="font-size: 40px; "></i> 
      </div>

      <!-- Bottle -->
      <div class="bottle">
        <div class="cap"></div>
        <div class="body"></div>
      </div>
      <div class="level-checker">
        <div class="progress-bar">
          <div class="progress">
            <p class="progress-text">0%</p>
          </div>
           
        </div>
        <!-- <p class="progress-text">0%</p> -->
      </div>
    </div>
    <div class="great-work">
      GREAT WORK
    </div>
    <!-- <img src="./assets/Logo.png" alt="">
    <button class="submit">SUBMIT</button> -->

  </div>
 
  <script src="script.js"></script>
</body>
</html>
