<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>McDonald's Runner</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
</head>
<body>
  <div id="game-container">
    <canvas id="board"></canvas>
    <img id="outlet" src="./assets/Outlet.png" style="display: none;" />
    <button id="playButton" class="start-button">Play</button>
    <div id="charachter"></div>
    <div id="progress-container">
      <div id="progress-bar">
        <span id="progress-text">0/69</span>
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
